body {
  margin: 0;
  font-family: poppins;
  text-align: center;
  background: #f8fafc;
}

/* HEADER */
header {
  background: #111827;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

/* HOME */
.home {
  padding: 40px;
}

.profile {
  width: 150px;
  border-radius: 50%;
  border: 4px solid #555;
}

.intro {
  max-width: 500px;
  margin: auto;
}

/* ABOUT */
.about {
  background: #fff;
  padding: 30px;
}

.about-box {
  max-width: 500px;
  margin: auto;
  text-align: left;
}

/* ACHIEVEMENTS */
.achievements {
  padding: 30px;
}

.card {
  display: inline-block;
  width: 250px;
  margin: 10px;
  padding: 10px;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0,2);
}

.card img {
  width: 100%;
}

/* CONTACT */
.contact {
  background: #fff;
  padding: 30px;
}

.contact a {
  text-decoration: none;
  color: purple;
}

/* FOOTER */
footer {
  background: #222;
  color: white;
  padding: 20px;
}

/* DARK MODE */
.dark-mode {
  background: #121212;
  color: white;
}

.dark-mode header,
.dark-mode footer {
  background: black;
}

.dark-mode .about,
.dark-mode .contact,
.dark-mode .card {
  background: #1e1e1e;
}
